@mixin fullnav() {

  $navheight: 140px;
  @include span-columns(12);
  @include omega();
  position: relative;
  margin-bottom: 0px;

  .fullnav_logo_wrapper {
    /*@include span-columns(4);*/
    height: $navheight;
    overflow: visible;
    float: left;
    position: relative;
    width: 300px;

    #fullnav_logo {
      height: 65px;
      background: url("./assets/Images/star.svg") center center no-repeat transparent;
      background-size: 65px;
      width: 65px;
      float: left;
      position: absolute;
      top: 48px;
      left: 30px;
    }

    #fullnav_logo_extra {
      height: 32px;
      background: url("./assets/Images/mb_claim_no_claim.svg") center center no-repeat transparent;
      background-size: 132px 32px;
      width: 130px;
      position: absolute;
      left: 160px;
      top: 82px;
      overflow: visible;
    }
  }

  .fullnav__links__wrapper {
    /*@include shift(0);
    @include span-columns(7);
    @include omega();*/
    margin-left: 0px;
    position: relative;
    height: $navheight;
    margin: 0;
    padding: 0;
    float: right;

    ul {
      position: relative;
      bottom: 0;
      left: 0px;
      overflow: visible;
      list-style: none;
      margin: 90px 0 0 0;
      padding: 0;


    }

    li {
      float: left;
      padding: 0 20px 0 20px;
      position: relative;

      a {
        font-size: 16px;
        line-height: 17px;

      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 8px;
        margin: 0px;
        right: 0px;
        top: 5px;
        background-color: #585858;
      }
    }


  }

  .modalopenlink {

    margin-top: 20px;
    padding-left: 5px;
    position: absolute;
    right: 15px;

    a {
      font-size: 14px;

      &:before {
        content: "";
        background-color: red;
        width: 15px;
        height: 15px;
        position: absolute;
        left: -15px;
        top: 1px;
        background: url(./assets/Images/infoicon.png) center center no-repeat transparent;
        background-size: contain;
      }
    }
  }

  .hamburger_menu_button {
    width: $navheight;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;

    display: none;
    background: url("./assets/Images/hamburger.png") center center no-repeat transparent;
    background-size: 30px 27px;

  }

  @include media($mobile) {

    .fullnav__links__wrapper {
      display: none;
    }

    .modalopenlink {
      display: none;
    }

    .hamburger_menu_button {
      display: block;
    }


    .fullnav_logo_wrapper {
      /*@include span-columns(4);*/
      height: 70px;
      overflow: visible;
      float: left;

      #fullnav_logo {
        height: 40px;
        background: url("./assets/Images/star.svg") center center no-repeat transparent;
        background-size: contain;
        width: 40px;
        margin-left: 0px;
        float: left;
        position: absolute;
        top: 13px;
        left: 10px;
      }

      #fullnav_logo_extra {
        height: 26px;
        background: url("./assets/Images/mb_claim_no_claim.svg") center center no-repeat transparent;
        background-size: contain;
        width: 100px;
        position: absolute;
        left: 92px;
        top: 28px;
      }
    }




  }

  @include media($tablet) {}

  @include media($desktop) {}
}

/* MOBILE MENU */

#mobilemenu {
  visibility: hidden;
  width: 290px;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  transform: translateX(-500px);
  background-color: $mb-color-bggrey;
  padding: 25px;

  &[data-open=true] {
    transform: translateX(0px);
    visibility: visible;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-position: outside;

    li {
      height: 3em;
      padding: 10px;
      width: 100%;
      border-bottom: 1px solid $mb-color-bggrey-bit-lighter;
      position: relative;

      a {
        position: absolute;
        line-height: 3em;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

      }

      &:hover {
        a {
          color: $mb-color-fancy-turk;
        }

      }
    }
  }
}

/* IMPLEMENTATIONS */

.fullnav {
  @include fullnav();
}

.modalopenlink {
  @extend .navitem;
}