<div class="teaserbox">
  <img src="assets/Images/guarantee.png" alt="" class="teaserbox__image">
  <div class="teaserbox__content">
    <h2 class="teaserbox__headline">Sparen Sie sich spätere Sorgen:<br />Mit dem Garantie-Paket 5 für 50.</h2>
    <p class="teaserbox__subscription">
      Sichern Sie sich 5 Jahre unbeschwerte Mobilität zum Aktionspreis. Wenn Sie das Garantie-Paket 5 für 50 direkt beim Neufahrzeugkauf abschließen, zahlen Sie eine einmalige Aktionsprämie für nur ein Jahr, erhalten aber drei Jahre Garantie-Verlängerung.
    </p>
    <div class="teaserbox__button">
      <a target="_blank" href="public-files/MB_Pkw_Garantie-Paket-Aktion_5fuer50_Kundenfolder_A6_01-2021.pdf" class="teaserbox__link">
        Mehr über das Garantie-Paket 5 für 50
      </a>
    </div>
  </div>
</div>
