<div id="unserunternehmenbanner" class="hero">
    <div class="hero-bgimage bannerparallax">
        <img src="assets/Images/scaled_eMB_Kommunal-Leasing_CV_2014_001.jpg"/>
    </div>
    <div class="hero-inner">
        <div class="hero-copy">
            <h1 class="centered">Unser Unternehmen</h1>
        </div>

    </div>
</div>
