<div class="mbc-meta-box" data-active="true" data-id="Anbieter">
    <a href="#" class="mbc-accorion-headline mbc-link mbc-link-hover">
        <span class="mbc-meta-icon"></span><h2>Impressum</h2>
    </a>

    <div class="mbc-content"><strong>Mercedes-Benz Versicherung AG</strong>

        <p>
            Siemensstraße 7<br>
            D-70469 Stuttgart<br>
            Tel.: +49 (0)30 2694 3200<br>
            E-Mail: service.mbv@mercedes-benz.com<br>
        </p>

        <p>
            vertreten durch den Vorstand:<br>
            Gerd Kaiser (Vorsitzender), Matthias Eberhardt, Jörg Seidel<br>
        </p>

        <p>
            Vorsitzender des Aufsichtsrats:<br>
            Dr. Ingo Telschow
        </p>

        <p>
            Zuständige Aufsichtsbehörde:<br>
            Bundesanstalt für Finanzdienstleistungsaufsicht<br>
            Graurheindorfer Straße 108<br>
            53117 Bonn
        </p>

        <p>
            Handelsregister beim Amtsgericht Stuttgart, Nr. HRB 751119<br>
            Umsatzsteueridentifikationsnummer: DE 298 565 097
        </p>

        <p>
            Hier gelangen Sie zur <a href="http://www.mercedes-benz.de">Mercedes-Benz Homepage</a> .<br>
            © 2022 Mercedes-Benz Versicherung AG (Impressum) Alle Rechte vorbehalten
        </p>

    </div>
</div>
