<div id="s4-content" class="text-content-wrapper section-padding">
    <div class="text-content">
        <h2>Sie haben Fragen zu unseren Produkten?</h2>

        <p>Für Informationen rund um unsere Garantieprodukte oder im Schadenfall wenden Sie sich bitte an Ihren
            Mercedes-Benz Partner.</p>

        <p>Bei Fragen können Sie uns außerdem unter den folgenden Rufnummern und E-Mail-Adressen erreichen:
        </p>

        <div class="telrow telrow-1">
            <h5>Service Center</h5>
            <div class="normaltxt">Für Vertragsanfragen, Produkte und Beschwerden</div>
            <div class="two-colwrap">
                <div class="col col-left">
                    <div class="phonecontent content">
                        <h4 class="phony">+49 (0)30 2694-3200</h4>
                        <h4 class="fax">+49 (0)30 2694-3221</h4>
                        <div class="phonywhenkey">Montag bis Freitag:</div><div class="phonywhenvalue">08:00 - 18:00 Uhr</div>
                    </div>
                </div>
                <div class="col col-right">
                    <div class="mailicon icon"></div>
                    <a href="mailto:service.mbv@mercedes-benz.com" class="mailcontent content">service.mbv@mercedes-benz.com</a>
                </div>
            </div>
            %+4.section-ansprechpartner/accordion.html%

        </div>

        <div class="telrow telrow-2">
            <h5>Schadenbearbeitung</h5>
            <div class="normaltxt">Für Informationen rund um ihren Garantiefall</div>
            <div class="two-colwrap">
                <div class="col col-left">
                    <div class="phonecontent content">
                        <h4 class="phony">+49 (0)30 2694-3201</h4>
                        <h4 class="fax">+49 (0)30 2694-3222</h4>
                        <div class="phonywhenkey">Montag bis Donnerstag:</div>
                        <div class="phonywhenvalue">08:00 - 18:00 Uhr</div>
                        <div class="phonywhenkey">Freitag:</div>
                        <div class="phonywhenvalue">08:00 - 17:00 Uhr</div>
                        <div class="phonywhenkey">Samstag:</div><div class="phonywhenvalue">08:00 - 12:00 Uhr</div>
                    </div>
                </div>
                <div class="col col-right">
                    <div class="mailicon icon"></div>
                    <a href="mailto:schaden.mbv@mercedes-benz.com" class="mailcontent content">schaden.mbv@mercedes-benz.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
