<div id="s1-maincontent" class="text-content-wrapper section-padding">
    <div class="text-content">
        <h2>Das Garantieprogramm der Mercedes-Benz Versicherung AG</h2>

        <p>Bis zu 12 Jahre garantierte Entspannung und Sorgenfreiheit – mit den Garantieverlängerungsprodukten der
            Mercedes-Benz
            Versicherung für Mercedes-Benz und smart.</p>

        <p>Die Original-Mercedes-Benz und smart Garantieprogramme mit europaweiter Gültigkeit wurden speziell für
            Mercedes-Benz
            und smart Kunden entwickelt – mit Ihren Vorteilen:</p>
        <div class="paragraph-wrapper">
          <div class="paragraph">
            <h5 class="labelspan">Kostensicherheit</h5>
            <span class="contentspan">Langfristige finanzielle Absicherung vor unerwarteten Reparaturkosten an den wichtigsten und vor allem
              kostenintensiven Bauteilen zu günstigen und somit besonders attraktiven Garantieprämien.</span>
            </div>
            <div class="paragraph">
              <h5 class="labelspan">Bequemlichkeit</h5>
              <span class="contentspan">Europaweiter Schadensservice bei jedem autorisierten Mercedes-Benz Partner. Bequeme und schnelle Abwicklung mit Hilfe der Garantie-Karte.</span>
            </div>
            <div class="paragraph">
              <h5 class="labelspan">Sicherheit</h5>
              <span class="contentspan">Steigerung des Fahrzeugwertes und der Fahrsicherheit, da Reparaturen nicht verzögert oder verschleppt werden.</span>
            </div>
            <div class="paragraph">
              <h5 class="labelspan">Werterhalt</h5>
              <span class="contentspan">Das Fahrzeug ist mehr wert: beim Weiterverkauf des Fahrzeugs kann die Garantie auf den Folgebesitzer übertragen werden.</span>
            </div>
        </div>
    </div>
</div>
