<div class="teaserbox">
  <img src="assets/Images/quiz.png" alt="" class="teaserbox__image">
  <div class="teaserbox__content">
    <h2 class="teaserbox__headline">Garantiert. Weitersagen.</h2>
    <p class="teaserbox__subscription">
      Sie sind ein Mercedes-Kenner? Oder wollen einer werden? Steigen Sie ein – und lassen Sie sich überraschen: Mit dem spannenden  Mercedes-Benz Wissens-Quiz testen Sie Ihre Expertise und erfahren faszinierende Facts aus der Geschichte der Marke mit dem Stern.
    </p>
    <div class="teaserbox__button">
      <a target="_blank" href="https://quiz.mercedes-benz-versicherung.de/" class="teaserbox__link">
        Jetzt quizzen
      </a>
    </div>
  </div>
</div>
